@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  width: 375px;
}
header {
  width: 100%;
  height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 199px;
  display: inline-flex;
}
.logosection {
  align-self: stretch;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}
.mylogo {
  text-align: center;
  color: #6070ff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
}
.threelinelogo {
  align-self: stretch;
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}
.threelinelogo > div {
  width: 24px;
  height: 24px;
  position: relative;
}
.threelineimg {
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
  position: absolute;
}
.introsection {
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
  padding-bottom: 114px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 30px;
}
.name {
  width: 327px;
  height: 150px;
  color: #172b4d;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
}
.introbreif {
  width: 327px;
  height: 146px;
  color: #344563;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
.connect {
  color: #7f8cff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.dot {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 9999px;
}
.cardsection {
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
  padding-bottom: 114px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 88px;
  display: inline-flex;
}
.card {
  padding: 16px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  border: 1px #dfe1e6 solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: flex;
}
.cardimg {
  width: 295px;
  height: 220px;
  position: relative;
  border-radius: 8px;
}
.cardDescription {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}
.cardheading {
  width: 295px;
  color: #172b4d;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 44px;
  word-wrap: break-word;
}
.cardsubheading {
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
}
.canopy {
  color: #344563;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
}
.cardinnerdiv {
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.canopyext {
  color: #7a869a;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
}
.canopydescription {
  width: 295px;
  height: 76px;
  color: #344563;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
.cardlanguage {
  display: flex;
  gap: 20px;
}
.languagebutton {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  font-family: "Poppins", sans-serif;
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
}
.projectlink {
  margin-top: 12px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px #6070ff solid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.seeprojectbutton {
  padding: 12px;
  text-align: center;
  color: #396df2;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  word-wrap: break-word;
}
.work {
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
  padding-bottom: 114px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  display: inline-flex;
}
.langheading {
  width: 237px;
  color: black;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.lang1 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.lang2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.lang3 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 26px;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
}
.languagesection {
  padding: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: flex;
}
.langscript {
  width: 303px;
  padding-top: 9px;
  padding-bottom: 9.72px;
  padding-left: 12px;
  padding-right: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}
.langimg {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  border: 1px white solid;
}
.langname {
  width: 215px;
  height: 24px;
  color: #253858;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}
.expsection {
  width: 327px;
  height: 72px;
  position: relative;
}
.expname {
  width: 237px;
  left: 12px;
  top: 24px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.exparea {
  padding: 8px;
  left: 261px;
  top: 16px;
  position: absolute;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}
.expimg {
  width: 24px;
  height: 24px;
  position: relative;
}
.expimg > img {
  width: 8px;
  height: 14px;
  left: 9px;
  top: 5px;
  position: absolute;
}
.resumesection {
  padding: 12px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px #6070ff solid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.getresumebutton {
  text-align: center;
  color: #396df2;
  font-size: 17px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  word-wrap: break-word;
}
.aboutsection {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}
.aboutdescription {
  width: 327px;
  height: 147px;
  color: #344563;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
.conection {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}