@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  width: 100%;
  margin: 0px 0px 0px 0px;
  
}
header {
  width: 90%;
  height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 24px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 199px;
  display: inline-flex;
}
.navbuttons{
  display: none;
}
.logosection {
  align-self: stretch;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}
.mylogo {
  text-align: center;
  color: #6070ff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
}
.threelinelogo {
  align-self: stretch;
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}
.threelinelogo > div {
  width: 24px;
  height: 24px;
  position: relative;
}
.threelineimg {
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
  position: absolute;
}
.introsection {
  width: 90%;
  height: 100%;
  padding-left: 34px;
  padding-top: 114px;
  padding-bottom: 114px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 30px;
}
.name {
  width: 85%;
  height: 150px;
  color: #172b4d;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
}
.aboutname{
  width: 92%;
  height: 85px;
  color: #172b4d;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
}
.introbreif {
  width: 85%;
  color: #344563;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
.connect,.aboutconnect {
  color: #7f8cff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  width: 85%;
  text-align: left;
}

.dot {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 9999px;
}
.cardsection {
  width: 90%;
  height: 100%;
  padding-left: 12px;
  padding-top: 114px;
  padding-bottom: 114px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 88px;
  display: inline-flex;
  background-color: #e5e5e5;
}
.card {
  padding: 16px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  border: 1px #dfe1e6 solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: flex;
  width: 80%;
}
.cardimg {
  width: 295px;
  height: 220px;
  position: relative;
  border-radius: 8px;
}
.cardDescription {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}
.cardheading {
  width: 295px;
  color: #172b4d;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 44px;
  word-wrap: break-word;
}
.cardsubheading {
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
}
.canopy {
  color: #344563;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
}
.cardinnerdiv {
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.canopyext {
  color: #7a869a;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
}
.canopydescription {
  width: 295px;
  height: 76px;
  color: #344563;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
.cardlanguage {
  display: flex;
  gap: 20px;
}
.languagebutton {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  font-family: "Poppins", sans-serif;
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
}
.projectlink {
  margin-top: 12px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px #6070ff solid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.seeprojectbutton {
  padding: 12px;
  text-align: center;
  color: #396df2;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  word-wrap: break-word;
}
.work {
  width: 90%;
  height: 100%;
  padding-left: 24px;
  padding-right: 10px;
  padding-bottom: 114px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 90px;
  display: inline-flex;
}
.langheading {
  width: 237px;
  color: black;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.lang1 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  width: 95%;
}
.lang2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  width: 100%;
}
.lang3 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 26px;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
  width: 90%;
}
.languagesection {
  padding: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: flex;
  width: 80%;
}
.langscript {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9.72px;
  padding-left: 12px;
  padding-right: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}
.langimg {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  border: 1px white solid;
}
.langname {
  width: 75%;
  height: 24px;
  color: #253858;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}
.expsection {
  width: 100%;
  height: 72px;
  position: relative;
}
.expname {
  width: 50%;
  left: 12px;
  top: 24px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.exparea {
  padding: 8px;
  left: 261px;
  top: 16px;
  position: absolute;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}
.expimg {
  width: 24px;
  height: 24px;
  position: relative;
}
.expimg > img {
  width: 8px;
  height: 14px;
  left: 9px;
  top: 5px;
  position: absolute;
}
.resumesection {
  padding: 12px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px #6070ff solid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.getresumebutton {
  text-align: center;
  color: #396df2;
  font-size: 17px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  word-wrap: break-word;
}
.aboutsection {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
  width: 85%;
}
.aboutdescription {
  width: 92%;
  height: 195px;
  color: #344563;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
.conection {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.contact-2 {
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 800px;
  border-radius: 80px 0 0 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-2 h1 {
  color: white;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
  text-align: center;
  width: 75%;
}

.contact-2 p {
  color: #ebebff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
  width: 84%;
  height: 137px;
  flex-shrink: 0;
  text-align: center;
}

form > div {
  width: 100%;
}
form input {
  width: 80%;
  height: 15px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
  color: var(--neutral-n-800, #172b4d);
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 12px 0;
  padding: 15px 38px 15px 16px;
}

form button {
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  border-radius: 8px;
  background: var(--neutrals-n-0, #fff);
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  outline: none;
  border: none;
}

form textarea {
  width: 80%;
  height: 170px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
  color: var(--neutrals-n-60, #b3bac5);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 10px 0;
  padding: 15px 38px 15px 16px;
}

@media screen and (min-width: 760px) {
  /* responsiveness----------------------------------------------------------------------------------------------------- */

  body {
    width: 100%;
  }
.navbuttons{
  display: flex;
  gap: 50px;
  padding-top: 10px;
}
.navbuttons>div{
  color: #396df2;
  font-weight: 100px;
}
  header {
    width: 95%;
    padding: 0px 0px 0px 0px;
  }
  .threelinelogo {
    display: none;
  }
  .threelinelogo > div {
    display: none;
  }
  .threelineimg {
    display: none;
    width: 18px;
    height: 12px;
    left: 3px;
    top: 6px;
    position: absolute;
  }

  /* header end_____________________________________________________________________________________________________________ */

  .introsection {
    width: 100%;
    height: 670px;
    justify-content: center;
    align-items: center;
    height: 846px;
    padding: 0px 0px;
    flex-shrink: 0;
    background-image: url("images/Header.png");
    background-size: 100%;

  }
  .name {
    width: 60%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: 0.37px;
  }
  .introbreif {
    width: 60%;
    height: 146px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  .connect {
    width: 60%;
    text-align: left;
  }
  .introsection > img {
    float: left;
    align-items: flex-start;
  }

  /* introsection end _______________________________________--------------------------------_____________________---------------*/

  .cardsection {
    width: 100%;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 114px;
    padding-bottom: 80px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 88px;
    display: inline-flex;
  }

  .card1,
  .card3 {
    width: 80%;
    height: 360px;
    padding: 16px;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    border: 1px #dfe1e6 solid;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    display: flex;
  }

  .card2,
  .card4 {
    height: 360px;
    width: 80%;
    padding: 16px;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    border: 1px #dfe1e6 solid;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    display: flex;
  }
  .cardDescription {
    width: 50%;
  }
  .cardsubheading,
  .cardheading,
  p.canopydescription,
  .cardheading,
  div.cardDescription {
    width: 100%;
  }

  /* card section end________________________--------------------------_______________________---------------------------- */

  .work {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 90px;
    gap: 70px;
  }
  .aboutsection {
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex;
  }
  .aboutname {
    width: 100%;
    font-size: 40px;
  }
  .aboutdescription {
    width: 100%;
    height: 125px;
  }
  .aboutconnect {
    width: 100%;
  }
  .languagesection {
    flex-direction: row;
  }
  .langscript {
    width: 15%;
    display: block;
  }
  .lang1,
  form {
    width: 40%;
  }
  .lang2,
  .languagesection,
  form input,
  form textarea,
  form > div,
  .expsection,
  .work {
    width: 100%;
  }
  .contact-2 h1 {
    width: 30%;
  }
  .contact-2 p {
    width: 60%;
  }
}
